.nav {
    display: flex;
    height: 100%;
}

.nav__link {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;

    background-color: 2px solid transparent;
    border-radius: 2rem;
    transition: background-color .35s;

    &:hover {
        background-color: $black;
        color: $white;          
    } 

}