.nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav__link {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;


    border-radius: 2rem;
    transition: background-color .3s linear;


    &:hover:not(.nav__link--btn) {
        background-color: $black;
        color: $white;          
    } 

    &--btn {        
        background-color: $black;        
        color: $white;
    }
}